<pre class="is-compiled"><div class="dn-tag dn-tag--black dn-tag--top dn-tag--button"><i class="fa fa-times fa-lg"></i></div><!--
  --><span>wrap(gutter,@width)</span><br/><!--
  -->  width: calc(100% + @width);<br/><!--
  -->  margin-left: -@width/2;<br/><!--
  -->  margin-right: -@width/2;<br/><!--
  -->  padding-left: 0;<br/><!--
  -->  padding-right: 0;<br/><!--
  --><span>wrap(gutter,@width) > col</span><br/><!--
  -->  padding-left: @width/2;<br/><!--
  -->  padding-right: @width/2;<!--
--></pre>