<pre class="is-compiled"><div class="dn-tag dn-tag--black dn-tag--top dn-tag--button"><i class="fa fa-times fa-lg"></i></div><!--
  --><span>wrap(gutter(@gutter))</span><br/><!--
  -->  width: calc(100% + @gutter);<br/><!--
  -->  margin-left: -@gutter/2;<br/><!--
  -->  margin-right: -@gutter/2;<br/><!--
  -->  padding-left: 0;<br/><!--
  -->  padding-right: 0;<br/><!--
  --><span>wrap(gutter(@gutter)) > col</span><br/><!--
  -->  padding-left: @gutter/2;<br/><!--
  -->  padding-right: @gutter/2;<!--
--></pre>