@media (max-width: 1024px) {
  .dn-browser-body--menu {
    max-height: 5000px;
  }
  .dn-style--aside {
    width: 100%;
    position: static;
    padding-right: 12px;
  }
  .dn-device {
    border: 0;
  }
}
