.dn-button {
  display: block;
  color: #222;
  line-height: 0;
  padding: 16px 0;
  text-align: center;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--icon {
    background: #fff;
    .fa-github-alt, .fa-codepen {
      color: #333;
    }
    .fa-twitter {
      color: #3398DB;
    }
    .fa-star {
      color: #FFC700;
    }
    .fa-heart {
      color: #E94B35;
    }
    &:hover {
      background: #F5F5F5;
    }
  }
  &--link {
    margin-top: 0;
    margin-bottom: 0;
    color: #222;
    &:hover {
      color: #a1a1a1;
    }
  }
}
