#carbonads {
  font-family: Open Sans;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  border: 2px solid #e8e8e8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 16px 16px 0 16px;
  margin-bottom: 24px;
  &:hover {
    background: #fff;
  }
  a {
    display: block;
    color: #a1a1a1;
    text-decoration: none;
  }
  span {
    display: block;
  }
  .carbon-wrap {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
    font-size: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    a.carbon-img {
      display: table-cell;
      width: 146px;
      line-height: 0;
      padding-left: 8px;
      padding-right: 8px;
      img {
        width: 130px;
      }
    }
    a.carbon-text {
      font-size: 1rem;
      vertical-align: top;
      display: table-cell;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 16px;
    }
  }
  a.carbon-poweredby {
    text-align: right;
    line-height: 16px;
    padding-bottom: 16px;
    color: #222;
  }
}
