.dn-logo {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 2;
  line-height: 36px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  img {
    height: 36px;
    vertical-align: middle;
  }
  &:hover {
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
}
