.dn-menu {
  &__item {
    font-family: 'Open Sans';
    letter-spacing: 0.2px;
    padding: 6px 28px;
    color: #222;
    background: #FFF;
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #e8e8e8;
    &.is-line-through {
      text-decoration: line-through;
      cursor: not-allowed;
    }
    &.is-end {
      border-bottom: 0;
    }
    &.is-active {
      background: #E8E8E8;
    }
    &:hover {
      background: #F5F5F5;
    }
    &--child {
      padding-left: 30px;
      border-left: 8px solid #e8e8e8;
      color: #a1a1a1;
      &.is-active {
        color: #fff;
        background: #2ECC71;
      }
    }
  }
}
.dn-menu--install-child, .dn-menu--learn-child {
  &.is-hidden {
    display: none;
  }
}
