.dn-style {
  &--title {
    text-align: center;
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }
  &--aside {
    position: fixed;
    padding-right: 18px;
  }
  &--love {
    letter-spacing: 0.2px;
    margin: 0;
    line-height: 24px;
    display: inline-block;
    color: #a1a1a1;
    b {
      color: #EB4A2C;
    }
  }
  &--wrap {
    background: #FED5D6;
    min-height: 48px;
    position: relative;
  }
  &--col {
    display: block;
    color: rgba(255, 255, 255, 1);
    background: #3A99D8;
    line-height: 48px;
    min-height: 48px;
    padding: 0 24px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    span {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
