<div class="dn-browser-body__item">
  <div class="dn-tag dn-tag--red dn-tag--center">normal</div>
  <div class="wrap xl-middle dn-style--wrap" style="height: 144px;">
    <div class="col xl-3-12"><div class="dn-style--col">01</div></div>
    <div class="col xl-6-12"><div class="dn-style--col" style="height: 96px; line-height: 96px;">02</div></div>
    <div class="col xl-3-12"><div class="dn-style--col">03</div></div>
  </div>
</div>
<div class="dn-browser-body__item">
  <div class="dn-tag dn-tag--red dn-tag--center">table</div>
  <div class="wrap xl-table xl-middle dn-style--wrap" style="height: 144px;">
    <div class="col xl-3-12"><div class="dn-style--col">01</div></div>
    <div class="col xl-6-12"><div class="dn-style--col" style="height: 96px; line-height: 96px;">02</div></div>
    <div class="col xl-3-12"><div class="dn-style--col">03</div></div>
  </div>
</div>
<div class="dn-browser-body__item">
  <div class="dn-tag dn-tag--red dn-tag--center">flexbox</div>
  <div class="wrap xl-flexbox xl-middle dn-style--wrap" style="height: 144px;">
    <div class="col xl-3-12"><div class="dn-style--col">01</div></div>
    <div class="col xl-6-12"><div class="dn-style--col" style="height: 96px; line-height: 96px;">02</div></div>
    <div class="col xl-3-12"><div class="dn-style--col">03</div></div>
  </div>
</div>
