<div class="dn-browser-body__item">
  <div class="dn-tag dn-tag--red dn-tag--center">flexbox</div>
  <div class="wrap xl-flexbox xl-around xl-5 dn-style--wrap" style="height: 256px;">
    <div class="col"><div class="dn-style--col">01</div></div>
    <div class="col"><div class="dn-style--col">02</div></div>
    <div class="col"><div class="dn-style--col">03</div></div>
    <div class="col xl-1-1"><div class="dn-style--col">04</div></div>
    <div class="col"><div class="dn-style--col">05</div></div>
    <div class="col"><div class="dn-style--col">06</div></div>
    <div class="col"><div class="dn-style--col">07</div></div>
  </div>
</div>
