/*! flexiblegs.style.css */

/* Wrapper */

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    position: relative;
    min-height: 100%;
  }
  html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #222222;
    background: #f5f5f5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0 0 0 0; /* Footer Fixed */
  }
  .overlay{
    background: #000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    right: 0;
    top:0;
    z-index: 99;
    position: absolute;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .wrapper{
    overflow: hidden;
  }

/* Header */

  #header {
    background: #222222;
    color: #ffffff;
    padding: 10px 0 30px 0;
    overflow: hidden;
    min-height: 584px;
  }
  #header #carbonads {
    margin-top: 40px;
  }
  #menu {
    background: #3498db;
    color: #ffffff;
    padding: 10px 0 30px 0;
    overflow: hidden;
    width: 100%;
    min-height: 584px;
    position: absolute;
    left: 0;
    /*top: 37px;*/
    z-index: 1;
    display: none;
  }
  #menu .h2{
    margin: 10px 0 0px 0;
  }
  #menu .h4{
    margin-top:60px;
  }
  #menu .h4 a{
    color: #fff;
  }
  #menu a.h3{color: #fff; margin-top: 10px; text-align: left;}
  #menu a.h3:hover{opacity: 1;}
  #menu a.h3 i{margin-right: 2px;}
  #menu .btn-white span {
    color:#fff;
    opacity: 0.5;
    font-size: 12px;
  }
  #menu .btn-white:hover span {
    color:#222;
    opacity: 0.5;
    font-size: 12px;
  }
  .columns{
    padding:10px;
    padding-top:15px;
    line-height: 0;
  }
  .columns a, .columns-div{
    display: block;
    padding: 2px 0;
  }
  .columns a:hover .column-link{
    background: rgba(255, 255, 255, 1);
  }
  .column-link {
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 12px;
    border-radius: 2px;
  }
  .active {
    background: rgba(255, 255, 255, 1);
    height: 12px;
  }
  .total{
    padding: 15px 0 10px 0;
  }
  .total i{
    color: #fff;
    position:absolute;
    left:0;
    top:-40px;
    font-size:3em;
  }
  a.flexiblegs-rails{
    position: absolute;
    top: 5px;
    left: 10px;
    background: #222;
    border: 1px solid #333;
    border-radius: 6px;
    padding-top: 6px;
    cursor: pointer;
    color: #9e9e9e;
    padding: 7px 18px;
    display: block;
  }
  a.flexiblegs-rails:hover {
    color: #fff;
  }
  a.flexiblegs-rails h4 {
    margin: 0;
    padding: 0;
  }
  .new-gem {
    position: absolute;
    right: -16px;
    top: 9px;
    display: inline-block;
    color: #fff;
    background: #3498db;
    font-size: 10px;
    line-height: 14px;
    padding: 0 5px 2px 5px;
    border-radius: 20px;
  }

  a.navicon, a.close{
    position: absolute;
    top: 5px;
    right: 10px;
    background: #333333;
    width: 38px;
    height: 36px;
    border-radius: 6px;
    padding-top: 6px;
    cursor: pointer;
    color: #fff;
  }
  b.renk{
    color: #3498db;
  }
  a.close{
    background: rgba(255, 255, 255, 0.3);
    color: #3498db;
    z-index: 2;
  }
  a.navicon:hover{
    color: #a1a1a1;
  }
  a.close:hover{
    color: #fff;
  }
  #header h1 a:hover{
    color: #fff;
  }

/* Main */

  .social-buttons-bg {
    background: #ffffff;
    padding: 15px 0;
    border-top: 0;
    border-bottom: 1px solid #e8e8e8;
  }
  .social-buttons-bg span{
    display: inline-block;
    padding: 5px 0;
  }  #main{
    margin: 0;
  }
  .padding-rl {
    margin: 0 10px;
  }

/* Footer */

  #footer {
    min-height: 158px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #222222;
    padding: 40px 0;
    border-top: 1px solid #e8e8e8;
    font-size: 12px;
  }
  .social-media {
    margin:10px 0 10px 0;
  }
  .link {
    margin-bottom: 10px;
  }
  #footer a{
    color: #a1a1a1;
    display: inline-block;
    padding: 2px 3px;
    font-size: 12px;
  }
  #footer a:hover{
    color: #222222;
  }
  #footer .h4{margin-top: 5px;}
  #footer .h4 a{font-size: 16px!important;}

/* Typography */

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin: 5px 0;
    padding: 0;
    line-height: 28px;
    font-weight: 300;
  }
  h1, .h1 {
    font-size: 28px;
    letter-spacing: -2pt;
    font-weight: bold;
  }
  #header h1{margin: 10px 0;}
  h2, .h2 {
    font-size: 25px;
    letter-spacing: -1pt;
  }
  h3, .h3 {
    font-size: 18px;
  }
  h4, .h4 {
    font-size: 16px;
    margin-top: 10px;
  }
  h5, .h5 {
    font-size: 14px;
  }
  h6, .h6 {
    font-size: 12px;
    line-height: 18px;
  }
  .page-header {
    padding-bottom: 10px;
    margin: 20px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e8e8e8;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
  .text-justify {
    text-align: justify;
  }
  ul,ol {
    list-style-position:inside;
    margin: 10px 0;
    padding: 0;
  }
  ul ul,ol ol {
    margin: 5px 15px;
  }
  a {
    color: #222222;
    text-decoration: none;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  a:hover {
    color: #222222;
    text-decoration: none;
  }
  header a {
    color: #fff;
  }
  header a:hover {
    color: #a1a1a1;
  }
  p {
   margin: 0 0 10px 0;
  }

/* Buttons */

  .btn {
    display: block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
    margin: 10px 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    -webkit-border-radius: 999em;
    -moz-border-radius: 999em;
    border-radius: 999em;
    line-height: 28px;
    position: relative;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus {
    color: #333333;
    text-decoration: none;
  }
  .btn:active,
  .btn.active {
    outline: 0;
  }
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* Default */
    .btn-white {
      color: #ffffff;
      background-color: transparent;
      border-color: #ffffff;
    }
    .btn-white span {
      color: #9e9e9e;
      font-size: 12px;
    }
    .btn-white:hover,
    .btn-white:focus,
    .btn-white:active,
    .btn-white.active {
      color: #222222;
      background-color: #ffffff;
      border-color: #ffffff;
    }
    .btn-white:active,
    .btn-white.active {
      background-image: none;
    }
    .btn-white.disabled,
    .btn-white[disabled],
    fieldset[disabled] .btn-white,
    .btn-white.disabled:hover,
    .btn-white[disabled]:hover,
    fieldset[disabled] .btn-white:hover,
    .btn-white.disabled:focus,
    .btn-white[disabled]:focus,
    fieldset[disabled] .btn-white:focus,
    .btn-white.disabled:active,
    .btn-white[disabled]:active,
    fieldset[disabled] .btn-white:active,
    .btn-white.disabled.active,
    .btn-white[disabled].active,
    fieldset[disabled] .btn-white.active {
      background-color: #ffffff;
      border-color: #e8e8e8;
    }

/* Image */

  figure {
    margin: 0;
  }
  img {
    vertical-align: middle;
  }

/* Tools */

  .clear:before,
  .clear:after {
    content: " ";
    display: table;
  }
  .clear:after {
    clear: both;
  }

/* Style */

  .browser{
    max-width: 1142px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .browser-tab{
    background: #e8e8e8;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;
    padding: 20px;
    font-size: 0;
  }
  .browser-circle{
    background: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
  }
  .browser-page {
    background: #fff;
    padding: 0px;
    border-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid #e8e8e8;
    -webkit-overflow-scrolling: touch!important;
    line-height: 0;
  }

  .example-grid-2 iframe.example,
  .example-grid-3 iframe.example,
  .example-grid-4 iframe.example,
  .example-grid-5 iframe.example,
  .example-grid-6 iframe.example,
  .example-grid-7 iframe.example,
  .example-grid-8 iframe.example,
  .example-grid-9 iframe.example,
  .example-grid-10 iframe.example,
  .example-grid-11 iframe.example,
  .example-grid-12 iframe.example,
  .example-grid-13 iframe.example,
  .example-grid-14 iframe.example,
  .example-grid-15 iframe.example,
  .example-grid-16 iframe.example,
  .example-grid-17 iframe.example,
  .example-grid-18 iframe.example,
  .example-grid-19 iframe.example,
  .example-grid-20 iframe.example,
  .example-grid-21 iframe.example,
  .example-grid-22 iframe.example,
  .example-grid-23 iframe.example,
  .example-grid-24 iframe.example {
    max-width: 1140px;
    overflow: hidden;
  }
  .example-grid-2 iframe.example{height: 156px;}
  .example-grid-3 iframe.example{height: 224px;}
  .example-grid-4 iframe.example{height: 292px;}
  .example-grid-5 iframe.example{height: 292px;}
  .example-grid-6 iframe.example{height: 360px;}
  .example-grid-7 iframe.example{height: 360px;}
  .example-grid-8 iframe.example{height: 428px;}
  .example-grid-9 iframe.example{height: 428px;}
  .example-grid-10 iframe.example{height: 496px;}
  .example-grid-11 iframe.example{height: 496px;}
  .example-grid-12 iframe.example{height: 564px;}
  .example-grid-13 iframe.example{height: 564px;}
  .example-grid-14 iframe.example{height: 632px;}
  .example-grid-15 iframe.example{height: 632px;}
  .example-grid-16 iframe.example{height: 700px;}
  .example-grid-17 iframe.example{height: 700px;}
  .example-grid-18 iframe.example{height: 768px;}
  .example-grid-19 iframe.example{height: 768px;}
  .example-grid-20 iframe.example{height: 836px;}
  .example-grid-21 iframe.example{height: 836px;}
  .example-grid-22 iframe.example{height: 904px;}
  .example-grid-23 iframe.example{height: 904px;}
  .example-grid-24 iframe.example{height: 972px;}

  .example-1-grid-gutters iframe.example{height: 88px;}
  .example-2-grid-gutters iframe.example{height: 768px;}
  .example-3-grid-gutters iframe.example{height: 768px;}

  .example-1-grid-aligns iframe.example{height: 360px;}
  .example-2-grid-aligns iframe.example{height: 360px;}
  .example-3-grid-aligns iframe.example{height: 360px;}
  .example-4-grid-aligns iframe.example{height: 155px;}

  .example-5-grid-aligns iframe.example{height: 140px;}
  .example-6-grid-aligns iframe.example{height: 140px;}
  .example-7-grid-aligns iframe.example{height: 88px;}

  #owtg {
    padding:10px;
    background: #333;
    border-radius: 6px;
    margin: 25px 10px 0 10px;
    text-align: center;
    display: inline-block;
  }
  #owtg img{
    border-radius: 3px;
    max-width: 468px;
    width: 100%;
  }
  #owtg span{
    display: inline-block;
    padding-bottom: 10px;
  }

  #carbonads {
    padding:10px;
    background: #333;
    border-radius: 6px;
    margin: 20px 10px 0 10px;
    height: 120px;
    clear:both;
    text-align: left;
    display: block;
  }
  #carbonads a {
    color: #fff;
  }
  #carbonads a.carbon-poweredby {
    display: block;
    color: #9e9e9e;
  }
  .carbon-img {
    float: left;
    padding-right: 10px;
  }

  a.dribble-color {
    color: #e84f89;
  }
  a.dribble-color:hover {
    color: #f6619a;
  }

  .new-version,.new-version-right {
    position: absolute;
    top: -9px;
    display: inline-block;
    color: #fff;
    background: #3498db;
    font-size: 10px;
    line-height: 14px;
    padding: 0 5px 2px 5px;
    border-radius: 20px;
  }
  .new-version {
    left: 0px;
  }
  .new-version-right {
    right: 0px;
  }
  a.compatible{
    position: absolute;
    right: 20px;
    top: 32px;
    display: inline-block;
    color:  #fff;
    background: #3A99D8;
    font-size: 11px;
    line-height: 14px;
    padding:5px 15px;
    border-radius: 20px;
  }
  a.compatible:hover{
    color: #fff;
  }
  .frontend-folder {
    position: relative;
  }
  .new-sf {
    position: absolute;
    right: -24px;
    top: -5px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
    padding: 0 5px 2px 5px;
    border-radius: 20px;
    background: #E54D42;
  }

  .color-circle {
    text-align: center;
    padding-top: 20px;
  }
  .color-circle a {
    border-radius:50%;
    text-align: center;
    border: 1px solid #a1a1a1;
    color: #a1a1a1;
    display: inline-block;
    margin: 5px;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  .color-circle h1 {
    margin-top: 18px;
  }

  a.xlstyle-circle.active, a.xlstyle-browser-click.active {
    border: 1px solid #3498db; color: #3498db;
  }
  a.lgstyle-circle.active, a.lgstyle-browser-click.active {
    border: 1px solid #e74c3c; color: #e74c3c;
  }
  a.mdstyle-circle.active, a.mdstyle-browser-click.active {
    border: 1px solid #1abc9c; color: #1abc9c;
  }
  a.smstyle-circle.active, a.smstyle-browser-click.active {
    border: 1px solid #f39c12; color: #f39c12;
  }
  a.xsstyle-circle.active, a.xsstyle-browser-click.active {
    border: 1px solid #9b59b6; color: #9b59b6;
  }
  a.xlstyle-circle:hover, a.xlstyle-browser-click:hover {
    border: 1px solid #3498db; color: #3498db;
  }
  a.lgstyle-circle:hover, a.lgstyle-browser-click:hover {
    border: 1px solid #e74c3c; color: #e74c3c;
  }
  a.mdstyle-circle:hover, a.mdstyle-browser-click:hover {
    border: 1px solid #1abc9c; color: #1abc9c;
  }
  a.smstyle-circle:hover, a.smstyle-browser-click:hover {
    border: 1px solid #f39c12; color: #f39c12;
  }
  a.xsstyle-circle:hover, a.xsstyle-browser-click:hover {
    border: 1px solid #9b59b6; color: #9b59b6;
  }

  iframe.example {
    margin:0;
    padding:0;
    width:100%;
    background:#fff;
  }
  .search-bar {
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background: #e8e8e8;
    margin:0 10px;
    padding-bottom: 3px;
  }
  a.refresh,a.home {
    background: #e8e8e8;
    padding: 10px 0;
    display: block;
    margin-right: -1px;
    text-align: center;
    color: #a1a1a1;
  }
  a.refresh:hover,a.home:hover {
    color: #222222;
  }
  a.home {
    margin-right: -1px;
  }
  .url {
    padding: 0 10px;
  }
  .url input {
    border:0;
    width: 100%;
    display: block;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 28px;
    font-weight: 300;
    font-size: 16px;
    background: #fff;
    border-radius: 6px;
  }
  .url input:focus{outline: none;}

  ::-webkit-input-placeholder {
     color: #a1a1a1;
  }
  :-moz-placeholder {
     color: #a1a1a1;
  }
  ::-moz-placeholder {
     color: #a1a1a1;
  }
  :-ms-input-placeholder {
     color: #a1a1a1;
  }

  /* Macbook (and Others) */
    #macbook{
      margin-top: 10px;
      width: 100px;
      height: 58px;
    }
    #macbook .path1 {
      fill:#ffffff;
    }
    #macbook .path2 {
      fill:#a1a1a1;
    }
    .macbook-big {
      display: block;
      height: 862px;
      background: url(../svg/macbook.svg) center center no-repeat;
      background-size: 1484px 862px;
      z-index: 2;
      position: relative;
      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch!important;
    }
    .macbook-big iframe.example {
      margin-top:50px;
      max-width: 1140px;
      height: 712px;
      overflow: hidden;
    }

  /* iPad (Landscape) */
    #ipad-landscape{
      margin: 19px 0 9px 0;
      width: 58px;
      height: 40px;
    }
    #ipad-landscape .path1 {
      fill:#ffffff;
    }
    #ipad-landscape .path2 {
      fill:#a1a1a1;
    }
    .ipad-landscape-big {
      display: none;
      height: 848px;
      background: url(../svg/ipad-landscape.svg) center center no-repeat;
      background-size: 1244px 848px;
      z-index: 2;
      position: relative;
      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch!important;
    }
    .ipad-landscape-big iframe.example {
      margin-top:40px;
      max-width: 1024px;
      height: 768px;
      overflow: hidden;
    }

  /* iPad (Portrait) */
    #ipad-portrait{
      margin-top: 10px;
      width: 40px;
      height: 58px;
    }
    #ipad-portrait .path1 {
      fill:#ffffff;
    }
    #ipad-portrait .path2 {
      fill:#a1a1a1;
    }
    .ipad-portrait-big {
      display: none;
      height: 1244px;
      background: url(../svg/ipad-portrait.svg) center center no-repeat;
      background-size: 848px 1244px;
      z-index: 2;
      position: relative;
      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch!important;
    }
    .ipad-portrait-big iframe.example {
      margin-top:110px;
      max-width: 768px;
      height: 1024px;
      overflow: hidden;
    }

  /* iPhone (Landscape) */
    #iphone-landscape{
      margin: 25px 0 15px 0;
      width: 58px;
      height: 28px;
    }
    #iphone-landscape .path1 {
      fill:#ffffff;
    }
    #iphone-landscape .path2 {
      fill:#a1a1a1;
    }
    .iphone-landscape-big {
      display: none;
      height: 415px;
      background: url(../svg/iphone-landscape.svg) center center no-repeat;
      background-size: 847px 415px;
      z-index: 2;
      position: relative;
      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch!important;
    }
    .iphone-landscape-big iframe.example {
      margin-top:20px;
      max-width: 667px;
      height: 375px;
      overflow: hidden;
    }

  /* iPhone (Portrait) */
    #iphone-portrait{
      margin-top: 10px;
      width: 28px;
      height: 56px;
    }
    #iphone-portrait .path1 {
      fill:#ffffff;
    }
    #iphone-portrait .path2 {
      fill:#a1a1a1;
    }
    .iphone-portrait-big {
      display: none;
      height: 916px;
      background: url(../svg/iphone-portrait.svg) center center no-repeat;
      background-size: 454px 916px;
      z-index: 2;
      position: relative;
      overflow-y: scroll!important;
      -webkit-overflow-scrolling: touch!important;
    }
    .iphone-portrait-big iframe.example {
      margin-top:90px;
      max-width: 414px;
      height: 736px;
      overflow: hidden;
    }

  .path1 {
    fill:#ffffff!important;
  }
  .path2 {
    fill:#333333!important;
  }
  .circle {
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background: #ffffff;
    margin: 0 10px;
    padding: 10px 5px;
  }
  .circle.donate {
    padding: 10px 0;
  }

  a.readme {
    border: transparent;
    background: #3A99D8;
    color: #ffffff;
    display: block;
  }
  a.readme:hover {
    opacity: 0.8;
  }
  .disqus{
    background: #ffffff;
    padding: 30px 20px;
    border-top: 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
  .homepage.disqus{
    /*min-height: 2643px;*/
  }
  .disqus i {
    color: #a1a1a1;
  }
  .line-vertical {
    width:10px;
    margin:0 auto;
    height: 40px;
    background: #e8e8e8;
    position: relative;
    overflow: hidden;
  }
  .line-horizantal {
    height: 10px;
    background: #e8e8e8;
    margin: -5px -5px;
    border-radius: 5px;
    border-radius: 5px;
    display: block;
    overflow: hidden;
  }
  pre {
    padding:20px!important;
    background: #f5f5f5!important;
    color: #9e9e9e;
    font-family: 'Source Code Pro';
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
  }
  pre span {
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    margin: 2px 0px;
    padding: 0 5px;
  }
  pre span.white {
    color: #fff;
    background: #222!important;
  }
  pre .xlstyle {
    color: #3498db;
    width: 100px;
  }
  pre .lgstyle {
    color: #e74c3c;
    width: 100px;
  }
  pre .mdstyle {
    color: #1abc9c;
    width: 100px;
  }
  pre .smstyle {
    color: #f39c12;
    width: 100px;
  }
  pre .xsstyle {
    color: #9b59b6;
    width: 100px;
  }
  pre span.nonestyle{
    width: 100px;
    text-align: center;
    background: transparent;
    border: 1px solid #e1e1e1;
  }
  pre.classnames {
    margin: 10px;
    padding: 10px!important;
  }
  .classnames .xlstyle, .grid-gutter-example-3 .xlstyle {
    width: 110px;
  }
  .classnames .lgstyle, .grid-gutter-example-3 .lgstyle {
    width: 110px;
  }
  .classnames .mdstyle, .grid-gutter-example-3 .mdstyle {
    width: 110px;
  }
  .classnames .smstyle, .grid-gutter-example-3 .smstyle {
    width: 110px;
  }
  .classnames .xsstyle, .grid-gutter-example-3 .xsstyle {
    width: 110px;
  }
  pre.black-bg {
    padding:20px!important;
    border: 1px solid #333333;
    background: #222!important;
    color: #9e9e9e;
    font-family: 'Source Code Pro';
    border-radius: 6px;
  }
  pre.black-bg span {
    background: #333333;
    color: #ffffff;
    padding: 5px 5px;
    margin-left: 15px;
  }
  .example-code-bg {
    background: #ffffff;
    padding: 30px 0 30px 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  a.twitter-top {
    background: #55ACEE;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    display: block;
  }
  a.twitter-top {
    font-weight: bold;
    color: #fff;
  }
  a.twitter-top:hover {
    opacity:0.8;
  }

  a.comingsoon {
    color: #fff;
    background: #3A99D8;
    border: transparent;
    display: block;
  }
  a.comingsoon:hover {
    opacity: 0.8;
  }
  .docs {
    color: #a1a1a1;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    display: block;
  }

/* Responsive */

  /* lg */

    @media (max-width: 1024px) {
      .color-circle,.device-hidden{display: none;}
      #menu,.new-version,.new-version-right,a.comingsoon,a.readme,.new-gem,a.compatible {background: #e74c3c;}
      a.close,b.renk{color: #e74c3c;}
    }

  /* md */

    @media (max-width: 768px) {
      .example-code-bg .md-2-1.text-left,
      .example-code-bg .md-2-1.text-right {
        text-align: center;
      }
      #menu,.new-version,.new-version-right,a.comingsoon,a.readme,.new-gem,a.compatible {background: #1abc9c;}
      a.close,b.renk{color: #1abc9c;}
    }

  /* sm */

    @media (max-width: 667px) {
      h3.text-left {
        text-align: center;
      }
      .social-buttons-bg {
        padding: 10px 0 10px 0;
      }
      #menu,.new-version,.new-version-right,a.comingsoon,a.readme,.new-gem,a.compatible {background: #f39c12;}
      a.close,b.renk{color: #f39c12;}
      #menu{
        min-height: 635px;
      }
      a.compatible{
        display: none;
      }
    }

  /* xs */

    @media (max-width: 414px) {
      .btn {
        padding: 0px 20px;
      }
      #menu,.new-version,.new-version-right,a.comingsoon,a.readme,.new-gem,a.compatible {background: #9b59b6;}
      a.close,b.renk{color: #9b59b6;}
      a.flexiblegs-rails{
        position: relative;
        width: 165px;
        margin-bottom: 20px;
      }
      #menu{
        min-height: 670px!important;
      }
    }
