<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <section class="wrap xl-gutter-24 xl-outside-24 xl-top lg-1">
      <article class="col xl-9-12">
        {{ content }}
        <div class="wrap xl-right xl-auto">
          <div class="col">
            <a href="https://github.com/dnomak" class="dn-style--love">
              I <b>Love</b> Flexible Grid System :)
              <!-- Flexible Grid System'i <b>Seviyorum</b> :) -->
            </a>
            <div class="dn-space-24 lg-hidden"></div>
          </div>
        </div>
      </article>
      <aside class="col xl-3-12 dn-style--aside">
        {% include menu.html %}
      </aside>
    </section>
  </body>
</html>
